<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>AI Virtual (Flask + OpenAI)</title>
  <link rel="stylesheet" href="static/sass/css/style.css" />
</head>
<body>
  <div class="donasi">
    <a href="https://saweria.co/TlawXp" target="_blank"><img src="static/img/20250902_072120.jpg" alt="Donasi"></a>
  </div>
  <div class="container">
    <header>
      <h1>Albedo</h1>
      <p class="sub">Flask + OpenAI API</p>
    </header>

    <div class="flex">
      <!-- <div class="karakter"> -->
      <!--   <img src="static/img/NicePng_overlord-png_4127752.png" alt="Waifu"> -->
      <!-- </div> -->
      <main id="chat">
        <div id="messages" class="messages"></div>
        <form id="chat-form">
          <input id="msg-input" type="text" placeholder="Ketik pesan kamu..." autocomplete="off" required />
          <button type="submit">Kirim</button>
          <button id="reset-btn" type="button" class="ghost">Reset</button>
        </form>
      </main>
    </div>
    <footer>
      <small>Di buat dengan ❤️ Oleh TlawXp</small>
    </footer>
  </div>

  <script src="static/js/script.js"></script>
</body>
</html>
